### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# Load file
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_data)
purchase_data_df.head().drop_duplicates()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#Display a statistical overview of the purchase data.
purchase_data_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [3]:
#Total count of players
players_df = purchase_data_df.groupby("SN")["SN"].nunique()
players_count = players_df.count()
print(players_count)
players_df

576

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       1
Yathedeu43       1
Yoishirrala98    1
Zhisrisu83       1
Zontibe81        1
Name: SN, Length: 576, dtype: int64

In [50]:
#Create a table to display Total Number of Players
number_of_players = pd.DataFrame({"Total Number of Players":[players_count]})
number_of_players

   Total Number of Players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Calculate number of unique items
unique_items = purchase_data_df.groupby("Item Name")["Item Name"].nunique().count()
unique_items

unique_items_count = pd.DataFrame({"Unique Item Count":[unique_items]})
unique_items_count

   Unique Item Count
0                179

In [6]:
#Calculate average price 
avg_price_df = round(purchase_data_df["Price"].mean(),2)
avg_price_df

avg_price = pd.DataFrame({"Average Price":[avg_price_df]})
avg_price.style.format({"Average Price":"${:,.2f}"})

In [7]:
#Calculate total number of purchases
total_purchases = len(purchase_data_df)
total_purchases

total_amt_of_purchases = pd.DataFrame({"Total Number of Purchases":[total_purchases]})
total_amt_of_purchases

   Total Number of Purchases
0                        780

In [8]:
#Calculate the total revenue
revenue = round(purchase_data_df["Price"].sum(),2)
revenue

total_revenue = pd.DataFrame({"Total Revenue":[revenue]})
total_revenue.style.format({"Total Revenue":"${:,.2f}"})

In [9]:
#Display summary of Purchasing Analysis
summary_df = pd.DataFrame({"Number of Unique Items":[unique_items],
                          "Average Purchase Price":[avg_price_df],
                          "Total Number of Purchases":[total_purchases],
                          "Total Revenue":[revenue]})
summary_df.style.format({"Average Purchase Price":"${:,.2f}", "Total Revenue":"${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
#Calculate number of female, male and Other/Non-Disclosed
gender_count_df = purchase_data_df.groupby("Gender")["SN"].nunique()
gender_count_df

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [11]:
#Gender Percentage Count
gender_percentage_df = gender_count_df/players_df.count()
gender_percentage_df.round(2)

Gender
Female                   0.14
Male                     0.84
Other / Non-Disclosed    0.02
Name: SN, dtype: float64

In [12]:
#Gender demographics DataFrame.
gender_demographics_df = pd.DataFrame({"Gender Count": gender_count_df,"Gender Percentage":gender_percentage_df*100})
gender_demographics_df.sort_values(["Gender Count"], ascending = False).style.format({"Gender Percentage":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
#Calculate purchases by gender
purchase_count_df = purchase_data_df.groupby("Gender")["Item Name"].count()
purchase_count_df

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item Name, dtype: int64

In [14]:
#Calculate average price by gender
average_df = purchase_data_df.groupby("Gender")["Price"].mean()
average_df

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [15]:
#Calculate total puchase price by gender
total_df = purchase_data_df.groupby("Gender")["Price"].sum()
total_df

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [16]:
#Calculate average person total per person by gender
avg_spent_df = total_df/gender_count_df
avg_spent_df

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [17]:
#Display summary of Purchasing Analysis by Gender
gender_analysis_df = pd.DataFrame({"Purchase Count":purchase_count_df,
                                  "Average Purchase Price":average_df,
                                  "Total Purchase Value":total_df,
                                  "Average Spent per Person":avg_spent_df})
gender_analysis_df.style.format({"Average Purchase Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}", "Average Spent per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [18]:
nonduplicates_df = purchase_data_df.loc[:,["SN", "Age", "Gender"]].drop_duplicates()
nonduplicates_df

                SN  Age  Gender
0          Lisim78   20    Male
1      Lisovynya38   40    Male
2       Ithergue48   24    Male
3    Chamassasya86   24    Male
4        Iskosia90   23    Male
..             ...  ...     ...
773         Hala31   21    Male
774     Jiskjask80   11    Male
775     Aethedru70   21  Female
777     Yathecal72   20    Male
778        Sisur91    7    Male

[576 rows x 3 columns]

In [19]:
#Create bins in which to place values based on Age
bins = [0,9,14,19,24,29,34,39,44]
age_range_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]

In [20]:
#Slice the data and place it into bins
pd.cut(nonduplicates_df["Age"], bins, labels=age_range_labels)

0      20-24
1       >=40
2      20-24
3      20-24
4      20-24
       ...
773    20-24
774    10-14
775    20-24
777    20-24
778      <10
Name: Age, Length: 576, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < >=40]

In [21]:
#Place the data series into a new column inside of the DataFrame
nonduplicates_df["Age Range"] = pd.cut(nonduplicates_df["Age"], bins, labels= age_range_labels)
nonduplicates_df.head()

              SN  Age Gender Age Range
0        Lisim78   20   Male     20-24
1    Lisovynya38   40   Male      >=40
2     Ithergue48   24   Male     20-24
3  Chamassasya86   24   Male     20-24
4      Iskosia90   23   Male     20-24

In [22]:
#Calculate number of people in each age range
age_range_count_df = nonduplicates_df.groupby("Age Range").count()
age_range_count_sr = age_range_count_df["Age"]
age_range_count_sr

Age Range
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
>=40      11
Name: Age, dtype: int64

In [23]:
#Gender Percentage Count
age_range_percentage_df = round(age_range_count_df["SN"]/576,2)*100
age_range_percentage_df

Age Range
<10       3.0
10-14     4.0
15-19    19.0
20-24    45.0
25-29    13.0
30-34     9.0
35-39     5.0
>=40      2.0
Name: SN, dtype: float64

In [24]:
#Age Range demographics DataFrame.
gender_demographics_df = pd.DataFrame({"Age Range Count": age_range_count_sr,
                                       "Age Range Percentage":age_range_percentage_df})
gender_demographics_df.style.format({"Age Range Percentage":"{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [25]:
#Create bins in which to place values based on Age
bins = [0,9,14,19,24,29,34,39,44]
age_range_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]

In [26]:
#Slice the data and place it into bins
pd.cut(purchase_data_df["Age"], bins, labels=age_range_labels)

0      20-24
1       >=40
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < >=40]

In [27]:
#Place the data series into a new column inside of the DataFrame
purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], bins, labels= age_range_labels)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,>=40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [28]:
#Calculate Average Purchase per age range
avg_purchase_age_range_df = round(purchase_data_df.groupby("Age Range")["Price"].mean(),2)
avg_purchase_age_range_df

Age Range
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
>=40     3.04
Name: Price, dtype: float64

In [29]:
#Calculate Total Purchases per age range
total_purchase_value_df = round(purchase_data_df.groupby("Age Range")["Price"].sum(),2)
total_purchase_value_df

Age Range
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
>=40       36.54
Name: Price, dtype: float64

In [30]:
#Calculate Average Purchase per age range
avg_purchase_total_df = round(purchase_data_df.groupby(["Age Range"])["Price"].mean(),2)
avg_purchase_nona = avg_purchase_total_df.dropna()
avg_purchase_nona

Age Range
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
>=40     3.04
Name: Price, dtype: float64

In [31]:
#Display summary of Purchasing Analysis by Age Range
age_range_analysis_df = pd.DataFrame({"Purchase Count":age_range_count_sr.values,
                                      "Average Purchase Price":avg_purchase_age_range_df,
                                      "Total Purchase Value":total_purchase_value_df,
                                      "Average Spent per Person":avg_purchase_nona})
age_range_analysis_df.style.format({"Average Purchase Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}", "Average Spent per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [32]:
players_purchase_count_df = purchase_data_df.groupby("SN").count()["Price"].rename("Purchase Count")
players_average_price_df = purchase_data_df.groupby("SN").mean()["Price"].rename("Average Purchase Price")
players_total_df = purchase_data_df.groupby("SN").sum()["Price"].rename("Total Purchase Value")

In [33]:
total_user_data_df = pd.DataFrame({"Purchase Count":players_purchase_count_df,
                                  "Average Purchase Price":players_average_price_df,
                                  "Total Purchase Value":players_total_df})
total_user_data_df.head().style.format({"Average Purchase Price":"${:.2f}", "Total Purchase Value":"${:.2f}"})

In [34]:
top_five_spenders = total_user_data_df.sort_values("Total Purchase Value", ascending=False)
top_five_spenders.head().round(2).style.format({"Total Purchase Value":"${:.2f}", "Average Purchase Price":"${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [35]:
items_purchase_count_df = purchase_data_df.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
items_average_price_df = purchase_data_df.groupby(["Item ID", "Item Name"]).mean()["Price"].rename("Average Purchase Price")
items_value_total_df = purchase_data_df.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")

In [36]:
items_purchased_df = pd.DataFrame({"Purchase Count":items_purchase_count_df,
                                  "Item Price":items_average_price_df,
                                  "Total Purchase Value":items_value_total_df,})
items_purchased_df.head().style.format({"Item Price":"${:.2f}", "Total Purchase Value":"${:.2f}"})

In [37]:
most_popular_items_df = items_purchased_df.sort_values("Purchase Count", ascending=False)
most_popular_items_df.head().style.format({"Item Price":"${:.2f}", "Total Purchase Value":"${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [38]:
most_profitable_items_df = items_purchased_df.sort_values("Total Purchase Value", ascending=False)
most_profitable_items_df.head().style.format({"Item Price":"${:.2f}", "Total Purchase Value":"${:.2f}"})