### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# Load file
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#Display a statistical overview of the purchase data.
purchase_data_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [3]:
#Total count of players
players_df = purchase_data_df.groupby("SN")["SN"].nunique().count()
players_df

576

In [4]:
number_of_players = pd.DataFrame({"Total Number of Players":[players_df]})
number_of_players

   Total Number of Players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Calculate number of unique items
unique_items = purchase_data_df.groupby("Item Name")["Item Name"].nunique().count()
unique_items = unique_items_df

number_of_unique_items = pd.DataFrame({"Total Number of Players":[unique_items]})
number_of_unique_items

NameError: name 'unique_items_df' is not defined

In [ ]:
#Calculate average price 
avg_price_df = round(purchase_data_df["Price"].mean(),2)
avg_price_df

avg_price = pd.DataFrame({"Total Number of Players":[avg_price_df]})
avg_price

In [ ]:
#Calculate total number of purchases
total_purchases = len(purchase_data_df)
total_purchases

total_amt_of_purchases = pd.DataFrame({"Total Number of Players":[total_purchases]})
total_amt_of_purchases

In [ ]:
#Calculate the total revenue
revenue = round(purchase_data_df["Price"].sum(),2)
revenue

total_revenue = pd.DataFrame({"Total Number of Players":[revenue]})
total_revenue

In [ ]:
#Display summary of Purchasing Analysis
summary_df = pd.DataFrame({"Number of Unique Items":[unique_items],
                          "Average Purchase Price":[avg_price],
                          "Total Number of Purchases":[total_purchases],
                          "Total Revenue":[revenue]})
summary_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [ ]:
#Calculate number of female, male and Other/Non-Disclosed
gender_count_df = purchase_data_df.groupby("Gender")["SN"].nunique()
gender_count_df

In [ ]:
#Gender Percentage Count
gender_percentage_df = gender_count_df/576
gender_percentage_df.round(2)

In [ ]:
#Gender demographics DataFrame.
gender_demographics_df = pd.DataFrame({"Gender Count": gender_count_df,"Gender Percentage":gender_percentage_df})
gender_demographics_df.round(2)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
#Calculate purchases by gender
purchase_count_df = purchase_data_df.groupby("Gender")["Item Name"].count()
purchase_count_df

In [ ]:
#Calculate average price by gender
average_df = round(purchase_data_df.groupby("Gender")["Price"].mean(),2)
average_df

In [ ]:
#Calculate total puchase price by gender
total_df = round(purchase_data_df.groupby("Gender")["Price"].sum(),2)
total_df

In [ ]:
#Calculate average person total per person by gender
avg_spent_df = total_df/gender_count_df
avg_spent_df.round(2)

In [ ]:
#Display summary of Purchasing Analysis by Gender
gender_analysis_df = pd.DataFrame({"Purchase Count":purchase_count_df,
                                  "Average Purchase Price":average_df,
                                  "Total Purchse Value":total_df,
                                  "Average Spent per Person":avg_spent_df})
gender_analysis_df.round(2)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
#Create bins in which to place values based on Age
bins = [0,9,14,19,24,29,34,39,44]
age_range_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]

In [ ]:
#Slice the data and place it into bins
pd.cut(purchase_data_df["Age"], bins, labels=age_range_labels)

In [ ]:
#Place the data series into a new column inside of the DataFrame
purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], bins, labels= age_range_labels)
purchase_data_df.head()

In [ ]:
age_range_count_df = purchase_data_df.groupby("Age Range")["Item Name"].count()
age_range_count_df

In [ ]:
#Gender Percentage Count
age_range_percentage_df = age_range_count_df/576
age_range_percentage_df.round(2)

In [ ]:
#Age Range demographics DataFrame.
gender_demographics_df = pd.DataFrame({"Age Range Count": age_range_count_df,"Age Range Percentage":age_range_percentage_df})
gender_demographics_df.round(2)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
#Create bins in which to place values based on Age
bins = [0,9,14,19,24,29,34,39,44]
age_range_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]

In [ ]:
#Slice the data and place it into bins
pd.cut(purchase_data_df["Age"], bins, labels=age_range_labels)

In [ ]:
#Place the data series into a new column inside of the DataFrame
purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], bins, labels= age_range_labels)
purchase_data_df.head()

In [ ]:
avg_purchase_age_range_df = round(purchase_data_df.groupby("Age Range")["Price"].mean(),2)
avg_purchase_age_range_df

In [ ]:
total_purchase_value_df = round(purchase_data_df.groupby("Age Range")["Price"].sum(),2)
total_purchase_value_df

In [ ]:
avg_purchase_total_df = round(purchase_data_df.groupby(["SN", "Age Range"])["Price"].mean(),2)
avg_purchase_total_df.dropna()

In [ ]:
#Display summary of Purchasing Analysis by Age Range
age_range_analysis_df = pd.DataFrame({"Purchase Count":[age_range_count_df],
                                      "Average Purchase Price":[avg_purchase_age_range_df],
                                      "Total Purchse Value":[total_purchase_value_df],
                                      "Average Spent per Person":[avg_purchase_total_df]})
age_range_analysis_df.round(2)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame