### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_data)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
#Displyay a statistical overview of the purchase data
purchase_data_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [3]:
#Total number of players
players_df = purchase_data_df.groupby("SN")["SN"].nunique()
players_df.count()

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#Get the number of unique items
items_df = purchase_data_df.groupby("Item Name")["Item Name"].nunique()
items_df.count()

179

In [7]:
#Calculate the average purchase price
average_df = round(purchase_data_df["Price"].mean(),2)
average_df

3.05

In [9]:
#Total Purchases
total_purchases_df = len(purchase_data_df)
total_purchases_df

780

In [10]:
#Total Revenue
revenue_df = purchase_data_df["Price"].sum()
revenue_df.round(2)

2379.77

In [16]:
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items":[items_df],
                                      "Average Purchase Price":[average_df],
                                      "Total Number of Purchases":[total_purchases_df],
                                      "Totatl Revenue":[revenue_df]})
purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Totatl Revenue
0,Item Name Abyssal Shard 1...,3.05,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [24]:
#Gender Count
gender_count_df = purchase_data_df.groupby("Gender")["SN"].nunique()
gender_count_df.head()

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [35]:
#Gender Percntage
gender_percentage_df = gender_count_df/576
gender_percentage_df.round(2)

Gender
Female                   0.14
Male                     0.84
Other / Non-Disclosed    0.02
Name: SN, dtype: float64

In [42]:
#Gender demographics DataFrame.
gender_demographics_df = pd.DataFrame({"Gender Count": gender_count_df,"Gender Percentage":gender_percentage_df})
gender_demographics_df.round(2)

                       Gender Count  Gender Percentage
Gender
Female                           81               0.14
Male                            484               0.84
Other / Non-Disclosed            11               0.02


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [36]:
#Total number of purchases by gender.
gender_purchase_count_df = purchase_data_df.groupby("Gender")["Item Name"]
gender_purchase_count_df.count()

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item Name, dtype: int64

In [43]:
#Average price of items by gender.
gender_average_df = purchase_data_df.groupby("Gender")["Price"].mean()
gender_average_df.round(2)

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [44]:
#Total Purchase by gender
gender_total_df = purchase_data_df.groupby("Gender")["Price"].sum()
gender_total_df

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [45]:
normalized_gender_total_df = gender_total_df/gender_count_df
normalized_gender_total_df.round(2)

Gender
Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [49]:
#Purchasing analysis DataFrame by gender.
gender_analysis_df = pd.DataFrame({"Purchase Count":gender_purchase_count_df,
                                  "Average Purchase Price":gender_average_df,
                                  "Total Purchase Value":gender_total_df,
                                  "Normalized Totals":normalized_gender_total_df})
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,"(Female, [Deadline, Voice Of Subtlety, Nirvana...",3.203009,361.94,4.468395
Male,"(Male, [Extraction, Quickblade Of Trembling Ha...",3.017853,1967.64,4.065372
Other / Non-Disclosed,"(Other / Non-Disclosed, [Ghastly Adamantite Pr...",3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [51]:
#Create bins in which data will be held. Bins are <10, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39 >39.
bins = [0,10,15,20,25,30,35,40,45]
age_ranges = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]

In [52]:
#Categorize the existing players using the age bins.
pd.cut(purchase_data_df["Age"], bins, labels=age_ranges)

0      15-19
1      35-39
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    15-19
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < >=40]

In [53]:
purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], bins, labels= age_ranges)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [54]:
#Players percentage by age range.
age_group_percentage_df = round(purchase_data_df["Age Range"].value_counts()/780,2)
age_group_percentage_df

20-24    0.42
15-19    0.26
25-29    0.10
10-14    0.07
30-34    0.07
35-39    0.04
<10      0.04
>=40     0.01
Name: Age Range, dtype: float64

In [55]:
#Purchase count by age range.
age_group_count_df = purchase_data_df.groupby("Age Range")["Item Name"]
age_group_count_df.count()

Age Range
<10       32
10-14     54
15-19    200
20-24    325
25-29     77
30-34     52
35-39     33
>=40       7
Name: Item Name, dtype: int64

In [56]:
#Average purchase price by age range.
age_group_average_df = purchase_data_df.groupby("Age Range")["Price"].mean()
age_group_average_df.round(2)

Age Range
<10      3.40
10-14    2.90
15-19    3.11
20-24    3.02
25-29    2.88
30-34    2.99
35-39    3.40
>=40     3.08
Name: Price, dtype: float64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame