### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# Load file
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_data)
purchase_data_df.head().drop_duplicates()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#Display a statistical overview of the purchase data.
purchase_data_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [3]:
#Total count of players
players_df = purchase_data_df.groupby("SN")["SN"].nunique().count()
players_df

576

In [4]:
#Create a table to display Total Number of Players
number_of_players = pd.DataFrame({"Total Number of Players":[players_df]})
number_of_players

   Total Number of Players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Calculate number of unique items
unique_items = purchase_data_df.groupby("Item Name")["Item Name"].nunique().count()
unique_items

unique_items_count = pd.DataFrame({"Unique Item Count":[unique_items]})
unique_items_count

   Unique Item Count
0                179

In [6]:
#Calculate average price 
avg_price_df = round(purchase_data_df["Price"].mean(),2)
avg_price_df

avg_price = pd.DataFrame({"Average Price":[avg_price_df]})
avg_price.style.format({"Average Price":"${:.2f}"})

In [7]:
#Calculate total number of purchases
total_purchases = len(purchase_data_df)
total_purchases

total_amt_of_purchases = pd.DataFrame({"Total Number of Purchases":[total_purchases]})
total_amt_of_purchases

   Total Number of Purchases
0                        780

In [8]:
#Calculate the total revenue
revenue = round(purchase_data_df["Price"].sum(),2)
revenue

total_revenue = pd.DataFrame({"Total Revenue":[revenue]})
total_revenue.style.format({"Total Revenue":"${:.2f}"})

In [9]:
#Display summary of Purchasing Analysis
summary_df = pd.DataFrame({"Number of Unique Items":[unique_items],
                          "Average Purchase Price":[avg_price_df],
                          "Total Number of Purchases":[total_purchases],
                          "Total Revenue":[revenue]})
summary_df.style.format({"Average Purchase Price":"${:.2f}", "Total Revenue":"${:.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
#Calculate number of female, male and Other/Non-Disclosed
gender_count_df = purchase_data_df.groupby("Gender")["SN"].nunique()
gender_count_df

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [11]:
#Gender Percentage Count
gender_percentage_df = gender_count_df/576
gender_percentage_df.round(2)

Gender
Female                   0.14
Male                     0.84
Other / Non-Disclosed    0.02
Name: SN, dtype: float64

In [12]:
#Gender demographics DataFrame.
gender_demographics_df = pd.DataFrame({"Gender Count": gender_count_df,"Gender Percentage":gender_percentage_df*100})
gender_demographics_df.style.format({"Gender Percentage":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
#Calculate purchases by gender
purchase_count_df = purchase_data_df.groupby("Gender")["Item Name"].count()
purchase_count_df

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item Name, dtype: int64

In [14]:
#Calculate average price by gender
average_df = round(purchase_data_df.groupby("Gender")["Price"].mean(),2)
average_df

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [15]:
#Calculate total puchase price by gender
total_df = round(purchase_data_df.groupby("Gender")["Price"].sum(),2)
total_df

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [16]:
#Calculate average person total per person by gender
avg_spent_df = total_df/gender_count_df
avg_spent_df.round(2)

Gender
Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [17]:
#Display summary of Purchasing Analysis by Gender
gender_analysis_df = pd.DataFrame({"Purchase Count":[purchase_count_df],
                                  "Average Purchase Price":[average_df],
                                  "Total Purchase Value":[total_df],
                                  "Average Spent per Person":[avg_spent_df]})
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Spent per Person
0,Gender Female 113 Male ...,Gender Female 3.20 Male ...,Gender Female 361.94 Male ...,Gender Female 4.468395 Male ...

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [18]:
#Create bins in which to place values based on Age
bins = [0,9,14,19,24,29,34,39,44]
age_range_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]

In [19]:
#Slice the data and place it into bins
pd.cut(purchase_data_df["Age"], bins, labels=age_range_labels)

0      20-24
1       >=40
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < >=40]

In [20]:
#Place the data series into a new column inside of the DataFrame
purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], bins, labels= age_range_labels)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,>=40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [21]:
#Calculate number of people in each age range
age_range_count_df = purchase_data_df.groupby("Age Range")["Item Name"].count()
age_range_count_df

Age Range
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
>=40      12
Name: Item Name, dtype: int64

In [22]:
#Gender Percentage Count
age_range_percentage_df = round(age_range_count_df/576,2)*100
age_range_percentage_df.round(2)

Age Range
<10       4.0
10-14     5.0
15-19    24.0
20-24    63.0
25-29    18.0
30-34    13.0
35-39     7.0
>=40      2.0
Name: Item Name, dtype: float64

In [23]:
#Age Range demographics DataFrame.
gender_demographics_df = pd.DataFrame({"Age Range Count": age_range_count_df,
                                       "Age Range Percentage":age_range_percentage_df})
gender_demographics_df.style.format({"Age Range Percentage":"{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
#Create bins in which to place values based on Age
bins = [0,9,14,19,24,29,34,39,44]
age_range_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]

In [25]:
#Slice the data and place it into bins
pd.cut(purchase_data_df["Age"], bins, labels=age_range_labels)

0      20-24
1       >=40
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < >=40]

In [26]:
#Place the data series into a new column inside of the DataFrame
purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], bins, labels= age_range_labels)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,>=40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [27]:
#Calculate Average Purchase per age range
avg_purchase_age_range_df = round(purchase_data_df.groupby("Age Range")["Price"].mean(),2)
avg_purchase_age_range_df

Age Range
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
>=40     3.04
Name: Price, dtype: float64

In [28]:
#Calculate Total Purchases per age range
total_purchase_value_df = round(purchase_data_df.groupby("Age Range")["Price"].sum(),2)
total_purchase_value_df

Age Range
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
>=40       36.54
Name: Price, dtype: float64

In [29]:
#Calculate Average Purchase per age range
avg_purchase_total_df = round(purchase_data_df.groupby(["SN", "Age Range"])["Price"].mean(),2)
avg_purchase_total_df.dropna()

SN             Age Range
Adairialis76   15-19        2.28
Adastirin33    35-39        4.48
Aeda94         15-19        4.91
Aela59         20-24        4.32
Aelaria33      20-24        1.79
                            ...
Yathecal82     20-24        2.07
Yathedeu43     20-24        3.01
Yoishirrala98  15-19        4.58
Zhisrisu83     10-14        3.94
Zontibe81      20-24        2.68
Name: Price, Length: 575, dtype: float64

In [30]:
#Display summary of Purchasing Analysis by Age Range
age_range_analysis_df = pd.DataFrame({"Purchase Count":[age_range_count_df],
                                      "Average Purchase Price":[avg_purchase_age_range_df],
                                      "Total Purchase Value":[total_purchase_value_df],
                                      "Average Spent per Person":[avg_purchase_total_df]})
age_range_analysis_df.round(2)

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Spent per Person
0,Age Range <10 23 10-14 28 15-19 1...,Age Range <10 3.35 10-14 2.96 15-19 ...,Age Range <10 77.13 10-14 82.78 15...,SN Age Range Adairialis76 <10 ...

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [31]:
players_purchase_count_df = purchase_data_df.groupby("SN").count()["Price"].rename("Purchase Count")
players_average_price_df = purchase_data_df.groupby("SN").mean()["Price"].rename("Average Purchase Price")
players_total_df = purchase_data_df.groupby("SN").sum()["Price"].rename("Total Purchase Value")

In [32]:
total_user_data_df = pd.DataFrame({"Purchase Count":players_purchase_count_df,
                                  "Average Purchase Price":players_average_price_df,
                                  "Total Purchase Value":players_total_df})
total_user_data_df.head().style.format({"Average Purchase Price":"${:.2f}", "Total Purchase Value":"${:.2f}"})

In [33]:
top_five_spenders = total_user_data_df.sort_values("Total Purchase Value", ascending=False)
top_five_spenders.head().round(2).style.format({"Total Purchase Value":"${:.2f}", "Average Purchase Price":"${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [34]:
items_purchase_count_df = purchase_data_df.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
items_average_price_df = purchase_data_df.groupby(["Item ID", "Item Name"]).mean()["Price"].rename("Average Purchase Price")
items_value_total_df = purchase_data_df.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")

In [35]:
items_purchased_df = pd.DataFrame({"Purchase Count":items_purchase_count_df,
                                  "Item Price":items_average_price_df,
                                  "Total Purchase Value":items_value_total_df,})
items_purchased_df.head().style.format({"Item Price":"${:.2f}", "Total Purchase Value":"${:.2f}"})

In [36]:
most_popular_items_df = items_purchased_df.sort_values("Purchase Count", ascending=False)
most_popular_items_df.head().style.format({"Item Price":"${:.2f}", "Total Purchase Value":"${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [37]:
most_profitable_items_df = items_purchased_df.sort_values("Total Purchase Value", ascending=False)
most_profitable_items_df.head().style.format({"Item Price":"${:.2f}", "Total Purchase Value":"${:.2f}"})